.login {
  background-size: cover;
  height: 40em;
  background-position: 50% 50%;
  opacity: 0.6;
  filter: grayscale(70%);
  background-image: url("https://images.unsplash.com/photo-1554127963-59370787efb4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
}
