.card {
  height: 180px;
  width: 318px;
  margin: 0.5rem;
  position: relative;
  display: inline-block;
  background: #fff;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.banner_holder {
  width: 320px;
  height: 180px;
  /* min-height: 200px; */
  position: relative;
  transition: 0.5s;
}

.banner_holder,
.banner_holderImage {
  border-radius: 12px;
}

.banner_holderImage {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  transition: 0.6s;
}

.banner_holderImage:hover {
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  .banner {
    flex-wrap: wrap;
  }
  .banner_holder {
    width: 260px;
    height: 130px;
  }
}

.text-block {
  position: absolute;
  bottom: 20px;
  color: white;
  padding-left: 20px;
}

.banner_holder:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
